// Define tipografia
html {
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    color: $font-color;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.center {
    text-align: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.pad-left {
    padding-left: $mobile-margin;
}

.pad-right {
    padding-right: $mobile-margin;
}

.grecaptcha-badge {
    opacity: 0;
    bottom: -300px !important;
}